@if(this.services != null)
{
    <MudGrid Spacing="2" Justify="Justify.Center">
        @foreach(var service in this.services)
        {
             @if (service.Images != null)
             {
                 <h1>Hello</h1>
                 foreach (var image in service.Images)
                 {
                          <img height="220" width="220" src="@image.RemoteUrl" class="mx-auto my-auto rounded-lg" style="object-fit:contain;"  />
                 } 
             }
             <MudItem xs="12" sm="4">
               <MudCard>
                        <MudCarousel Class="mud-width-full" Style="height:320px;" ShowArrows="true" ShowBullets="false" AutoCycle="false" TData="object">
                            @if (service.Images != null)
                            {
                                foreach (var image in service.Images)
                                {
                                    <MudCarouselItem Transition="transition" Color="@Color.Primary">
                                         <img height="220" width="220" src="@image.RemoteUrl" class="mx-auto my-auto rounded-lg" style="object-fit:contain;"  />
                                    </MudCarouselItem>
                                } 
                            }
                        </MudCarousel>
                        <MudCardContent>
                            <MudText Typo="Typo.h6">@service.Title</MudText>
                            <MudItem>
                                <MudSpacer/>
                                <MudRating ReadOnly="true" SelectedValue="@service.Rating" />
                                <MudItem>
                                    <MudText Typo="Typo.h6" Class="justify-content-center" Color="Color.Success">
                                        STARTING AT<br/>
                                        @service.StartingPrice
                                    </MudText>
                                </MudItem>
                            </MudItem>
                        </MudCardContent>
                </MudCard>
             </MudItem>
        } 
    </MudGrid>
}
