@page "/categories/all-created"

<MudText Typo="Typo.h3">All Categories</MudText>
<style>
    #input-form {
        display: none;
        padding: 1rem;
        justify-content: start;
        align-items: center;
        margin-bottom: 20px;
        margin-top: 20px;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }

    .item-wr{
        margin-right: 10px;
    }

    .btn:hover{
        cursor:pointer;
    }
</style>



@*<main>
    <section class="d-flex justify-content-center align-items-center">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="d-flex" scope="col">
                        <div class="flex-grow-1 align-items-center">
                            Name
                        </div>
                        <div  onclick="showAddForm()" class="btn d-inline-flex text-success bg-transparent text-decoration-none border border-white">Add Category</div>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var skill in this.categories)
                {
                    <tr>
                        <td>@skill.Name</td>
                    </tr>
                }
            </tbody>
        </table>
    </section>
</main>
*@

@if (this.openCreateForm)
{
    <CreateCategory LoadSkills="LoadCategories"/>
}

<MudItem Class="d-flex my-3">
    <MudItem></MudItem>
    <MudSpacer/>
    <MudButton Variant="Variant.Filled" OnClick="OpenCreateForm">Create category</MudButton>
</MudItem>


<MudTable Items="@this.categories" Dense="false" Hover="true" Bordered="false" Striped="true">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Categories</MudText>
        <MudSpacer />
        <MudTextField @bind-Value="this.searchString" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
    </ToolBarContent>
    <HeaderContent>
        <MudTh>Nr</MudTh>
        <MudTh>Name</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Nr">@(nr++)</MudTd>
        <MudTd DataLabel="Name">@context.Name</MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>

