@page "/gallery/{ServiceId:int}"
@using System.IO;

<MudText Align="Align.Center" Typo="Typo.h3">Gallery</MudText>
<MudDivider Class="my-6"  />

<MudGrid Spacing="1" Justify="Justify.Center">
    @{
        int index = 0;
    }
    @foreach (var image in this.Images)
    {
        string imageBytes = string.Empty;
        string src = string.Empty;
        if (image.Length > 0)
        {
            using (var ms = new MemoryStream())
            {
                image.CopyTo(ms);
                byte[] fileBytes = ms.ToArray();
                imageBytes = Convert.ToBase64String(fileBytes);
                string format = $"data:image/{Path.GetExtension(image.FileName)};base64,{imageBytes}";
                src = string.Format(format);
            }
        }
        
        <MudItem>
            <MudPaper Class="position-relative" Elevation="25" Height="340" Width="340">
                @if (index == 0)
                {
                    <MudItem Class="position-absolute">
                         <MudChip Disabled="true" Color="Color.Info">Thumbnail</MudChip>
                    </MudItem>
                }
                <img height="340" width="340" src="@src" alt="@image.FileName" class="rounded-lg" style="object-fit:contain;"  />
            </MudPaper>
        </MudItem>
        index++;
    }
    @for (int i = this.Images.Where(c => c.Length > 0).Count(); i < 3; i++)
    {
        <MudItem >
            <MudPaper Elevation="25" Class="d-flex justify-content-center align-items-center" Height="340px" Width="340px">
                <MudIconButton HtmlTag="label"
                               Icon="@Icons.Material.Filled.Add"
                               Size="Size.Large"
                               for="input-file">
                </MudIconButton>
                <EditForm EditContext="this.editContext">
                    <InputFile id="input-file" hidden OnChange="this.OnChangeInputFile" type="file" />
                </EditForm>
            </MudPaper>
        </MudItem>
    }
</MudGrid>
    


@*<div class="row my-5">
        @foreach (var image in this.Images)
        {
            string imageBytes = string.Empty;
            string src = string.Empty;
            if (image.Length > 0)
            {
                using(var ms= new MemoryStream())
                {
                    image.CopyTo(ms);
                    var fileBytes = ms.ToArray();
                    imageBytes = Convert.ToBase64String(fileBytes);
                    src = string.Format("data:image/jpg;base64,{0}", imageBytes);
                }

            }

            <div class="col-md-3 m-3 position-relative d-flex justify-content-center align-items-center card-image" style="height:500px; width:500px; box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;">
                <img class="h-100 w-100" src="@src" alt="@image.FileName" />
            </div>
        }
    </div>*@
<MudItem Class="d-flex justify-content-end mt-6">
    <MudButton Variant="Variant.Filled" Color="Color.Success" OnClick="Save" >Save & Continue</MudButton>
</MudItem>

