@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

@inherits LayoutComponentBase
<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>



<MudLayout Style="color:#fe9c00">
    <MudAppBar  Style="background-color: #fe9c00" Elevation="3" Fixed="false" Dense="true">
        <MudIconButton OnClick="() => ToggleSidebar()" Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" />
        <MudSpacer />
        <LoginDisplay  />
    </MudAppBar>
   
    <MudDrawer @bind-Open="sidebarOpen" Elevation="1">
        <MudDrawerHeader>
            <MudAvatar Color="Color.Transparent" Size="Size.Large" Image="logo/logo.jpg"  />
            <MudText Typo="Typo.h5" Style="margin-top: 10px; margin-left:15px;">SERVICE PROVIDER</MudText>
        </MudDrawerHeader>
        <MudNavMenu>
            <MudNavLink Href="/" Match="NavLinkMatch.All" Icon="@Icons.Filled.Home">Home</MudNavLink>
            <AuthorizeView>
                <MudNavGroup Icon="@Icons.Filled.ManageAccounts" Title="Manage Profile">
                    <MudNavLink Icon="@Icons.Material.Filled.RemoveRedEye" Href="users/profile">View My Account</MudNavLink>
                    @*<MudNavLink Class="mr-2 text-decoration-none" Href="authentication/profile">@context.User.Identity.Name</MudNavLink>*@
                    <MudNavLink>
                        <MudButton Class="nav-link" Variant="Variant.Filled" Color="Color.Warning" OnClick="this.BeginSignOut">
                            Log out
                        </MudButton>
                    </MudNavLink>
                </MudNavGroup>
                <MudNavGroup Title = "Services">
                    <MudNavLink Href="services/created-by-user">My Created Services</MudNavLink>
                    <MudNavLink Href="services/create">Create <span class="badge badge-success">NEW</span> </MudNavLink>
                </MudNavGroup>
                 <MudNavLink Href="categories/all-created">Created Categories</MudNavLink>
            </AuthorizeView>
        </MudNavMenu>
    </MudDrawer>
    <MudMainContent Class="pt-16 px-16">
        <MudContainer Class="mt-6">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>

@code{
    private bool sidebarOpen = false;
        private void ToggleSidebar() => sidebarOpen = !sidebarOpen;
    
        private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}